* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}

#wrapper {
   width: 500%;
}

#wrapper section {
   float: left;
   width: 20%;
   position: relative;
   font-family: 'Yanone Kaffeesatz', ;
}

#rightarrow {
   position: absolute;
   font-size: 40px;
   right: 4%;
   bottom: 50%;
   color: grey;
   transform: rotate(-90deg) scale(.8) scaleX(1.1);
   <<<<<<< HEAD z-index: 9;
   =======z-index: 99;
   >>>>>>>f69632ba7cad60e0466ea782da22d48bcedc446d
}

#leftarrow {
   position: absolute;
   font-size: 40px;
   left: 4%;
   bottom: 50%;
   color: grey;
   transform: rotate(90deg) scale(.8) scaleX(1.1);
   <<<<<<< HEAD z-index: 9;
   =======z-index: 99;
   >>>>>>>f69632ba7cad60e0466ea782da22d48bcedc446d
}


#section1 {
   background-color: #f5e1c1;
   height: 100vh;
}

#section2 {
   background-color: red;
   height: 200vh;
}

#section2 #leftarrow {
   bottom: 75%;
}

#section2 #rightarrow {
   bottom: 75%;
}


#section3 {
   background-color: green;
   width: 100%;
   height: 100vh;
}

#section4 {
   height: 100vh;
}

#section5 {
   background-color: #f5e1c1;
   height: 100vh;
}

.arrow {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.arrow span {
   display: block;
   width: 30px;
   height: 30px;
   border-bottom: 5px solid #06A8FF;
   border-right: 5px solid #06A8FF;
   transform: rotate(45deg);
   margin: -10px;
   animation: animate 2.5s infinite;
}

.arrow span:nth-child(2) {
   animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
   animation-delay: -0.4s;
}

@keyframes animate {
   0% {
      opacity: 0;
      transform: rotate(45deg) translate(-15px, -20px);
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      transform: rotate(45deg) translate(15px, 20px);
   }
}

#bigframe {
   position: absolute;
   background-color: rgb(255, 236, 208);
   width: 1200px;
   height: 600px;
   border-radius: 15px;
   display: block;
   margin-left: 120px;
   margin-right: auto;
   margin-top: 100px;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

#frame {
   position: relative;
   top: -50px;
   width: 100%;
   height: 100%;
   border: none;
   border-radius: 15px;
}

#mapwrapper {
   width: 550px;
   height: 600px;
   overflow: hidden;
   position: absolute;
   margin-top: 25px;
   right: 2%;
   border-radius: 15px;
}