* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}

#wrapper {
   width: 500%;
}

#wrapper section {
   float: left;
   width: 20%;
   position: relative;
   font-family: 'Yanone Kaffeesatz';
}

#rightarrow {
   position: absolute;
   font-size: 40px;
   right: 4%;
   bottom: 50%;
   color: grey;
   transform: rotate(-90deg) scale(.8) scaleX(1.1);
   z-index: 9;
}

#leftarrow {
   position: absolute;
   font-size: 40px;
   left: 4%;
   bottom: 50%;
   color: grey;
   transform: rotate(90deg) scale(.8) scaleX(1.1);
   z-index: 9;
}


#section1 {
   background-color: #f5e1c1;
   height: 100vh;
}

#section2 {
   background-color: red;
   height: 200vh;
}

#section2 #leftarrow {
   bottom: 75%;
}

#section2 #rightarrow {
   bottom: 75%;
}


#section3 {
   background-color: green;
   width: 100%;
   height: 100vh;
}

#section4 {
   height: 100vh;
}

#section5 {
   background-color: #f5e1c1;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.arrow {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.arrow span {
   display: block;
   width: 30px;
   height: 30px;
   border-bottom: 5px solid rgba(63, 63, 63, 0.842);
   border-right: 5px solid rgba(63, 63, 63, 0.842);
   transform: rotate(45deg);
   margin: -10px;
   animation: animate 2.5s infinite;
}

.arrow span:nth-child(2) {
   animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
   animation-delay: -0.4s;
}

@keyframes animate {
   0% {
      opacity: 0;
      transform: rotate(45deg) translate(-15px, -20px);
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      transform: rotate(45deg) translate(15px, 20px);
   }
}

#bigframe {
   background-color: rgb(255, 236, 208);
   width: 1200px;
   height: 600px;
   border-radius: 15px;
   display: flex;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

   align-items: center;
}

#frame {
   margin-top: -100px;
   width: 90%;
   height: 100%;
   border: none;
   border-radius: 15px;
   overflow: hidden;
}

#mapwrapper {
   width: 60%;
   height: 100%;
   overflow: hidden;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-top: 50px;
}

.info {
   width: 50%;
   height: 100%;
   margin-top: 3em;
   margin-left: 3em;
   color: #8c1b24;
   font-family: 'Yanone Kaffeesatz';
   font-size: 1.5em;
}

.info h1 {
   font-size: 2em;
}

.info h5 {
   font-size: 1.3em;
   line-height: 1.5em;
}

.info p {
   line-height: 1.2em;
   font-size: 1.1em;
}

#some {
   position: absolute;
   bottom: 5em;
   width: 19em;
   display: flex;
   justify-content: space-between;
}

#some a {
   text-decoration: none;
   color: #8c1b24;
   text-decoration: none;
}


#contact {
   position: absolute;
   bottom: 6.5em;
   width: 19em;
   display: flex;
   justify-content: space-between;
}

#contact h5 {
   font-size: 1.1em;
}

#video {
   width: 100vw;
}