* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}

#wrapper {
   width: 500%;
}

#wrapper section {
   float: left;
   width: 20%;
   position: relative;
   font-family: 'Yanone Kaffeesatz';
}

#rightarrow {
   position: absolute;
   font-size: 40px;
   right: 4%;
   bottom: 50%;
   color: grey;
   transform: rotate(-90deg) scale(.8) scaleX(1.1);
   z-index: 9;
}

#leftarrow {
   position: absolute;
   font-size: 40px;
   left: 4%;
   bottom: 50%;
   color: grey;
   transform: rotate(90deg) scale(.8) scaleX(1.1);
   z-index: 9;
}


#section1 {
   background-color: #f5e1c1;
   height: 100vh;
}

#section2 {
   background-color: #f5e1c1;
   height: 200vh;
}

#section2 #leftarrow {
   bottom: 75%;
}

#section2 #rightarrow {
   bottom: 75%;
}


#section3 {
   background-color: green;
   width: 100%;
   height: 100vh;
}

#section4 {
   height: 100vh;
}

#section5 {
   background-color: #f5e1c1;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.arrow {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.arrow span {
   display: block;
   width: 30px;
   height: 30px;
   border-bottom: 5px solid rgba(63, 63, 63, 0.842);
   border-right: 5px solid rgba(63, 63, 63, 0.842);
   transform: rotate(45deg);
   margin: -10px;
   animation: animate 2.5s infinite;
}

.arrow span:nth-child(2) {
   animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
   animation-delay: -0.4s;
}

@keyframes animate {
   0% {
      opacity: 0;
      transform: rotate(45deg) translate(-15px, -20px);
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      transform: rotate(45deg) translate(15px, 20px);
   }
}

#bigframe {
   background-color: rgb(255, 236, 208);
   width: 1200px;
   height: 600px;
   border-radius: 15px;
   display: flex;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

   align-items: center;
}

#frame {
   margin-top: -100px;
   width: 90%;
   height: 100%;
   border: none;
   border-radius: 15px;
   overflow: hidden;
}

#mapwrapper {
   width: 60%;
   height: 100%;
   overflow: hidden;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-top: 50px;
}

.info {
   width: 50%;
   height: 100%;
   margin-top: 3em;
   margin-left: 3em;
   color: #8c1b24;
   font-family: 'Yanone Kaffeesatz';
   font-size: 1.5em;
}

.info h1 {
   font-size: 2em;
}

.info h5 {
   font-size: 1.3em;
   line-height: 1.5em;
}

.info p {
   line-height: 1.2em;
   font-size: 1.1em;
}

#some {
   position: absolute;
   bottom: 5em;
   width: 19em;
   display: flex;
   justify-content: space-between;
}

#some a {
   text-decoration: none;
   color: #8c1b24;
   text-decoration: none;
}


#contact {
   position: absolute;
   bottom: 6.5em;
   width: 19em;
   display: flex;
   justify-content: space-between;
}

#contact h5 {
   font-size: 1.1em;
}

#video {
   width: 100vw;
}





.headertxt {
   padding: 20px;
   font-size: 80px;
   color: white;
   font-family: 'Yanone Kaffeesatz';
   background: #8C1B24;
}

h1 {

   font-size: 40px;
   letter-spacing: 2px;
   margin-bottom: 10px;
   color: #8C1B24;
   font-family: 'Yanone Kaffeesatz';

}


main {
   margin-top: 50px;
   position: relative;
   font-family: 'Yanone Kaffeesatz';
   font-size: 22px;
   line-height: 30px;
   overflow: hidden;

}

.colorcarpet {
   overflow: hidden;
margin-left: 50px;

   position: relative;
   width: 700px;
   height: 8000px;

}

.asset {
   position: absolute;
   width: 700px;
   height: 800px;
}

.whitecolor {

   margin-top: -150px;
   position: absolute;
   width: 700px;
   height: 800px;


}

.asset1 {
   position: absolute;
   width: 700px;
   height: 800px;
}

.carpettxt {
   position: absolute;
   top: 50px;
   right: 100px;

   opacity: 1;
   height: 400px;
   width: 300px;
   z-index: 0;
   align-items: center;
   padding: 0 20px;
   overflow: hidden;
}

.btn {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 30px;
   width: 30px;
   background: white;
   border-radius: 25px;
}

.circleani {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 28px;
   width: 28px;
   background: transparent;
   border-radius: 25px;
   border: 2px solid white;
   animation: circlebig infinite 1.2s ease-in-out;
}


@keyframes circlebig {
   100% {
       height: 50px;
       width: 50px;
       opacity: 0;
   }
}



.btnwrap {
   position: absolute;
   top: 29px;
   left: 380px;
   z-index: 2;
   height: 50px;
   width: 50px;

}

.toggler {
   position: absolute;
   top: 29px;
   left: 330px;
   z-index: 22;
   cursor: pointer;
   width: 40px;
   height: 40px;
   opacity: 0;
}

.toggler:checked ~ .artist {
   opacity: 1;

   transition: 0.4s ease-in-out;
}

.toggler:not(:checked) ~ .artist {
   opacity: 0;
   right: 210px;
   transition: 0.4s ease-in-out;
}

.artist {
   position: absolute;
   top: 0px;
   right: 100px;

   background: rbg(255, 236, 208);
   opacity: 1;
   border-radius: 15px;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
   width: 300px;

   align-items: center;
   padding: 20px;
   overflow: hidden;
}



.btnwrap2 {
   position: absolute;
   top: 200px;
   left: 675px;
   z-index: 2;
   height: 50px;
   width: 50px;

}

.toggler2 {
   position: absolute;
   top: 200px;
   left: 625px;
   z-index: 22;
   cursor: pointer;
   width: 40px;
   height: 40px;
   opacity: 0;
}

.toggler2:checked ~ .material {
   opacity: 1;

   transition: 0.4s ease-in-out;
}

.toggler2:not(:checked) ~ .material {
   opacity: 0;
   right: 210px;
   transition: 0.4s ease-in-out;
}

.material {
   position: absolute;
   top: 241px;
   right: 100px;
   background: rbg(255, 236, 208);
   opacity: 1;
   border-radius: 15px;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

   width: 300px;

   align-items: center;
   padding: 20px;
   overflow: hidden;
}

.btnwrap3 {
   position: absolute;
   top: 400px;
   left: 720px;
   z-index: 2;
   height: 50px;
   width: 50px;

}

.toggler3 {
   position: absolute;
   top: 400px;
   left: 670px;
   z-index: 22;
   cursor: pointer;
   width: 40px;
   height: 40px;
   opacity: 0;
}

.toggler3:checked ~ .weave {
   opacity: 1;

   transition: 0.4s ease-in-out;
}

.toggler3:not(:checked) ~ .weave {
   opacity: 0;
   right: 210px;
   transition: 0.4s ease-in-out;
}

.weave {
   position: absolute;
   top: 421px;
   right: 100px;
   background: rbg(255, 236, 208);
   opacity: 1;
   border-radius: 15px;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

   width: 300px;

   align-items: center;
   padding: 20px;
   overflow: hidden;
}

.btnwrap4 {
   position: absolute;
   top: 500px;
   left: 510px;
   z-index: 2;
   height: 50px;
   width: 50px;

}

.toggler4 {
   position: absolute;
   top: 500px;
   left: 460px;
   z-index: 22;
   cursor: pointer;
   width: 40px;
   height: 40px;
   opacity: 0;
}

.toggler4:checked ~ .symbols {
   opacity: 1;

   transition: 0.4s ease-in-out;
}

.toggler4:not(:checked) ~ .symbols {
   opacity: 0;
   right: 210px;
   transition: 0.4s ease-in-out;
}

.symbols {
   position: absolute;
   top: 521px;
   right: 100px;
   background: rbg(255, 236, 208);
   opacity: 1;
   border-radius: 15px;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

   width: 300px;

   align-items: center;
   padding: 20px;
   overflow: hidden;
}

.btnwrap5 {
   position: absolute;
   top: 650px;
   left: 580px;
   z-index: 2;
   height: 50px;
   width: 50px;

}

.toggler5 {
   position: absolute;
   top: 650px;
   left: 530px;
   z-index: 22;
   cursor: pointer;
   width: 40px;
   height: 40px;
   opacity: 0;
}

.toggler5:checked ~ .paint {
   opacity: 1;

   transition: 0.4s ease-in-out;
}

.toggler5:not(:checked) ~ .paint {
   opacity: 0;
   right: 210px;
   transition: 0.4s ease-in-out;
}

.paint {
   position: absolute;
   top: 671px;
   right: 100px;
   background: rbg(255, 236, 208);
   opacity: 1;
   border-radius: 15px;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

   width: 300px;
   z-index: 1;
   align-items: center;
   padding: 20px;
   overflow: hidden;
}
