* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

#wrapper {
   height: 100vh;
   width: 500%;
   overflow-x: hidden;
}

#wrapper section {
   float: left;
   width: 100vw;
   height: 100vh;
   position: relative;
}

#rightarrow {
   position: absolute;
   font-size: 40px;
   right: 2%;
   bottom: 50%;
   color: grey;
}

#leftarrow {
   position: absolute;
   font-size: 40px;
   left: 2%;
   bottom: 50%;
   color: grey;
}

#section1 {
   background-color: green;
}

#section2 {
   background-color: red;
}

#section3 {
   background-color: yellow;
}

#section4 {
   background-color: blue;
}

#section5 {
   background-color: purple;
}